<navbar>
    <div class="logo">
        <img class="logo-img" src="images/logo-pic.svg">
        <div class="logo-text-group">
            <h1 style="color: #1750AC;">EASYMANAGE</h1>
            <h5 style="color: #E67E22;">WAREHOUSE MANAGEMENT SYSTEM</h5>
        </div>
    </div>
    <div class="right-menu">
        <div class="nav-text">
            <p id="dashboard">Dashboard</p>
            <p id="inventory">Inventory</p>
            <p id="report">Reports</p>
            <p id="order">Orders</p>
            <p id="setting">Setting</p>
        </div>
        <div class="user-info">
            <img class="user-img" src="images/navbar-profile-pic.svg">
            <div class="user-details">
                <p class="user-name">Admin User</p>
                <p class="logout-btn">log out</p>
            </div>
        </div>
    </div>
</navbar>