<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script src="/chartjs/chart.umd.js"></script>
</head>
<body>
    <%- include("partials/dashboard.ejs") %>
        <div class="info-zone">
            <h1>EASYMANAGE <span style="font-family: Kanit;">ระบบจัดการสินค้า</span></h1>
            <span>ตอนนี้คุณอยู่ที่คลังสินค้า : <%= warehouseName %></span>
            <div class="dashboard-grid">
                <div class="card">
                    <div class="card-header">
                        <img src="/images/dashboard-db-pic.svg">
                        <span>จำนวนสินค้าทั้งหมด</span> 
                    </div>
                    <div class="card-value" id="total-stock">290</div>
                    <div class="card-subtext text-green">+<span id="total-stock-change">150</span> <span class="icon-gray">เดือนนี้</span></div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="/images/dashboard-alert-pic.svg">
                        <span>จำนวนสินค้าใกล้หมด</span>
                    </div>
                    <div class="card-subtext">จำนวนทั้งหมด</div>
                    <div class="card-value" id="low-stock"><span class="unit">รายการ</span></div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="/images/dashboard-trending-up-pic.svg">
                        <span>จำนวนสินค้าที่เพิ่มมา</span>
                    </div>
                    <div class="card-subtext" style="margin-bottom: 15px;">เดือนนี้</div>
                    <div class="card-value text-green" id="import-stock"><span class="unit">รายการ</span></div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <img src="/images/dashboard-trending-down-pic.svg">
                        <span>จำนวนสินค้าที่ออกไป</span> 
                    </div>
                    <div class="card-subtext" style="margin-bottom: 15px;">เดือนนี้</div>
                    <div class="card-value text-red" id="export-stock"><span class="unit">รายการ</span></div>
                </div>
            </div>

            <div class="bottom-grid">
                <div class="panel">
                    <h2 class="panel-title">รายการสินค้าใกล้หมด</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>ชื่อสินค้า</th>
                                <th>ชนิดของสินค้า</th>
                                <th>จำนวน</th>
                                <th>สถานะ</th>
                            </tr>
                        </thead>
                        <tbody id="table-body">
                            <!-- implemented in dashboard.js -->
                        </tbody>
                    </table>
                </div>

                <!-- wait for implement -->
               <div class="panel">
                    <h2 class="panel-title">จำนวนสินค้าแบ่งตามประเภท</h2>
                    <div style="height: 300px;">
                        <canvas id="categoryChart"></canvas>
                    </div>
                </div>

                <div class="panel">
                    <h2 class="panel-title">กิจกรรมล่าสุด</h2>
                    <ul class="activity-list" id="activity-list">
                        <!-- implemented in dashboard.js -->
                    </ul>
                </div>

                <div class="panel">
                    <h2 class="panel-title">จำนวนสินค้าแบ่งตามประเภท</h2>
                    <div style="height: 300px;">
                        <canvas id="categoryChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    <script src="/js/dashboard.js"></script>
</body>
</html>