<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แก้ไขรายละเอียดสินค้า</title>
    <link rel="stylesheet" href="/css/edit-item.css">
</head>
<body>
    <%- include("partials/navbar.ejs") %>
    
    <!-- เขียนไว้ก่อนเเดี๋ยวมาทำต่องับ  -->
     <h2>แก้ไขข้อมูลสินค้า (แต่ละอัน)</h2>
</body>
</html>