<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/usermanage.css">
    <title>Document</title>
    <%- include("partials/icon.ejs") %>
</head>

<body>
    <div class="container">
        <%- include('partials/dashboard.ejs') %>

            <div class="manage-con">
                <h1 style="text-align: left; margin-left: 10%;">จัดการข้อมูลผู้ใช้</h1>

                <div class="user-detail">
                    <div class="total-user">
                        <div>
                            <h2 style="margin: 0; font-size: 28px;">จำนวนผู้ใช้</h2>
                            <h1 style="margin: 0;" id="total-user"></h1>
                        </div>
                        <img src="/images/manageuser-user-pic.svg">
                    </div>

                    <div class="total-manager">
                        <div>
                            <h2 style="margin: 0; font-size: 28px;">จำนวนผู้จัดการ</h2>
                            <h1 style="margin: 0;" id="total-admin"></h1>
                        </div>
                        <img src="/images/manageuser-manager-pic.svg">
                    </div>

                </div>

                <div class="function">
                    <input type="text" placeholder="ค้นหาชื่อผู้ใช้">
                    <a href="/add-users" id="add-users"><button class="add">+ เพิ่มผู้ใช้</button></a>
                </div>

                <table style="width: 80%; margin-left: 10%;">
                    <thead>
                        <tr>
                            <th>ลำดับ</th>
                            <th>ผู้ใช้</th>
                            <th>ชื่อของพนักงาน</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id ="user-table"></tbody>
                </table>
            </div>

    </div>
    <script src="/sweetalert/sweetalert2.all.min.js"></script> 
    <script src="/js/userManage.js"></script>
</body>

</html>