* {
    margin: 0;

}

body {
    height: 100vh;
    background-image: linear-gradient(to right top, #002087, #004098, #00599c, #006e98, #288194);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 20%;
    position: fixed;
    gap: 25px;
}

.easymanage {
    font-size: 50px;
}


h4 {
    margin: 20px;
    text-align: center;
}

.inside-header {
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid rgb(0, 0, 0,0.2);
    box-shadow: 0 2px 12px rgb(0, 0, 0,0.2);
    padding-bottom: 20px;
    padding-top: 20px;
}

.text-head {
    margin-left: 5%;
}

.box {
    margin-right: 5%;
}

.body-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.main-form {
    width: 40%;
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0,0.3);
    padding-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    width: 80%;
}

.username {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgUser,.imgPwd {
    padding: 5px 7px 5px 7px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: white;
}


input {
    padding: 15px;
    padding-right: 40%;
    border-radius: 10px;
    border: none;
    margin-top: 25px;
    font-size: 15px;
    box-shadow: 0 0 5px rgb(0, 0, 0,0.2);
}

#btn {
    margin-top: 0;
    font-size: 22px;
    padding: 15px 40px 15px 40px;
    background-color: #0046FF;
    color: white;
    box-shadow: 0 0 15px rgb(0, 0, 0,0.2);
    transition: transform .2s;
    cursor: pointer;
    border-radius: 10px;
    border: none;
}

#btn:hover {
    transform: scale(1.1);
    background-color: #E67E22;
}