@font-face {
    font-family: 'Outfit';
    src: url('/fonts/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kanit';
    src: url('/fonts/Kanit-Semibold.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    font-family: 'Kanit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    width: 100%;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    height: 70px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo-img {
    height: 45px;
}

.logo-text-group {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.logo-text-group h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 0.5px;
}

.logo-text-group h5 {
    margin: 0;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 0.2px;
}

.nav-text {
    display: flex;
    gap: 35px;
}

.nav-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-text p:hover {
    color: #E67E22;
}

.nav-text a {
    text-decoration: none;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #ddd;
    /* border between Profile */
    padding-left: 25px;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-details {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    align-items: flex-start;
}

.user-details .user-name {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}

.user-details p {
    margin: 0;
    line-height: 1.2;
}

.user-details .logout-btn {
    margin: 0;
    font-size: 12px;
    color: #888;
    cursor: pointer;
}

.right-menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #1750AC;
    border-radius: 2px;
    transition: 0.3s;
}

@media screen and (max-width: 950px) {

    .hamburger {
        display: flex;
    }

    .right-menu {
        position: absolute;
        top: 70px;
        right: -100%;
        left: auto;
        flex-direction: column;
        width: 260px;
        background: white;
        padding: 25px;
        gap: 25px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 0 15px;
        transition: 0.3s;
        align-items: flex-start;
    }

    .right-menu.active {
        right: 0;
    }

    .nav-text {
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .nav-text p {
        font-size: 16px;
    }

    .user-info {
        width: 100%;
        border-top: 1px solid #eee;
        padding-top: 15px;
        border-left: none;
    }

}

@media screen and (max-width: 600px) {

    .navbar {
        padding: 10px 20px;
    }

    .logo-img {
        height: 35px;
    }

    .logo-text-group h1 {
        font-size: 18px;
    }

    .logo-text-group h5 {
        font-size: 8px;
    }

}